.active-assets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.current-price {
  background-color: white;
  transition: background-color 400ms ease;
}

.current-price[is-updating] {
  background-color: rgba(128, 0, 255, 0.386);
}

.md-card {
  flex-grow: 1;
  min-width: 350px;
  max-width: 50%;

  &--total-value {
    min-width: 48%;
    font-weight: 500;
    span {
      color: purple;
    }
  }
}

.asset-stat {
  &__label {
    margin-right: 4px;
  }

  &__value {
    font-weight: 600;

    &.current-price {
      color: orange;
    }
  }
}

.dashboard-loading-container {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
