.active-assets {
  display: flex;
  flex-wrap: wrap;
}

.md-card {
  flex-grow: 1;
  width: 30%;
}

.asset-stat {
  &__label {
    margin-right: 4px;
  }

  &__value {
    font-weight: 600;
    &.negative {
      color: red;
    }
    &.positive {
      color: green;
    }
  }
}
