.active-assets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.md-card {
  flex-grow: 1;
  width: 45%;
  min-width: 350px;
}

.asset-stat {
  &__label {
    margin-right: 4px;
  }

  &__value {
    font-weight: 600;

    &.current-price {
      color: orange;
    }
  }
}

.dashboard-loading-container {
  display: flex;
  flex-direction: column;
  padding: 40%;
  align-items: center;

  div {
    flex: 1;
  }
}
