.control-row {
  display: flex;

  md-slider {
    flex-grow: 1;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.asset-symbol {
  display: inline-block;
  small {
    font-size: 0.8em;
  }
}

.order-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.order-inputs {
  md-input-container {
    width: 100%;
    display: block;
  }
}

.pl-table {
  display: inline-block;
  width: 60%;
  position: relative;
  top: 8px;

  .pl-row {
    display: flex;
    justify-content: space-around;
  }

  .pl-column {
    flex: 1;
    text-align: center;
  }
}